{% extends 'base.html.twig' %}

{% block title %}
{{ 'action_change_user_data'|trans }}
{% endblock %}

{% block body %}
<h1>{{ 'action_change_user_data'|trans }} </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group row float-sm_right">
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary">

    </div>

    <div class="form-group row float-sm-left">
        <a href="{{ url('category_index') }}" class="btn btn-link">
            {{ 'action_back_to_list'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}


