{% extends 'base.html.twig' %}

{% block title %}
{{ 'title.user_change_data'|trans }}
{% endblock %}

{% block body %}
<h1>{{ 'title.user_change_data'|trans }} </h1>
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group row float-sm_right">
        <input type="submit" value="Save" class="btn btn-primary">

    </div>

    <div>
        <a class="btn btn-primary"  href="{{ url('book_index') }}" role="button">
            {{ 'action_back_to_list'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}


