{% extends 'base.html.twig' %}

{% block title %}
{{ 'title.category_create'|trans }}
{% endblock %}

{% block body %}
<h1>{{ 'title.category_create'|trans }}</h1>

{{ form_start(form, {method: 'POST', action: url('category_create')}) }}

{{ form_widget(form) }}

<div class="form-group row float-sm_right">
    <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary">

</div>

<div>
    <a href="{{ url('category_index') }}">
        {{ 'powrot'|trans }}
    </a>
</div>
{{ form_end(form) }}

{% endblock %}