{% extends 'base.html.twig' %}

{% block title %}
{{ 'title.category_list'|trans }}
{% endblock %}

{% block body %}
<h1>{{ 'title.category_list'|trans }}</h1>
    <div class="container">
    <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
{% if pagination is defined and pagination.items|length %}

<div class="navigation text-center"></div>
<table class="table table-striped">
<thead>
<tr>
    <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'category.id') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'category.createdAt') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'category.updatedAt') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'category.title') }}</th>
    <th>{{ 'label.actions'|trans }}</th>
</tr>
</thead>
    <tbody>

    {% for category in pagination.items %}
    <tr>
        <td>{{ category.id }}</td>
        <td>{{ category.createdAt|date('Y/m/d') }}</td>
        <td>{{ category.updatedAt|date('Y/m/d') }}</td>
        <td>{{ category.title }}</td>

        <td>
            <a href="{{ url('category_show', {id: category.id}) }}" title="{{ 'action.show'|trans }}">
{#                {{ 'action.show'|trans }} #}
                <span class="material-symbols-outlined">search</span>

            </a>
{#            {% if is_granted('ROLE_ADMIN') %}#}
{#            <a href="{{ url('category_create') }}" title="{{ 'action.create'|trans }}">#}
{#                {{ 'action.create'|trans }}#}
{#            </a>#}
{#            {% endif %}#}
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'action.edit'|trans }}">
                <span class="material-symbols-outlined">app_registration</span>
            </a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'action.delete'|trans }}">
{#                {{ 'action.delete'|trans }} #}
                <span class="material-symbols-outlined">delete</span>
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{#    {% if is_granted('ROLE_ADMIN') %}#}
{#        <a class="btn btn-primary" href="#" role="button">Link</a>#}
{#        <a class="btn btn-primary" href="{{ url('category_create') }}" role="button" title="{{ 'action.create'|trans }}">#}
{#            {{ 'action.create'|trans }} <span class="material-symbols-outlined">#}
{#add_circle#}
{#</span>#}
{#        </a>#}
{#    {% endif %}#}


{#    <a class="btn btn-primary" href="#" role="button">Link</a>#}
{#    <button type="button" class="btn btn-outline-primary">Primary</button> <span class="material-symbols-outlined">#}
{#add_circle#}
{#</span>#}





<div class="navigation text-center">
    {{ knp_pagination_render(pagination) }}
</div>
    {% if is_granted('ROLE_ADMIN') %}
        {#        <a class="btn btn-primary" href="#" role="button">Link</a>#}
        <a class="btn btn-info " href="{{ url('category_create') }}" role="button" title="{{ 'action.create'|trans }} ">
            {{ 'action.create'|trans }}
        </a>
{#            <span class="material-symbols-outlined">#}
{#add_circle#}
{#</span>#}
{#        </a>#}
    {% endif %}
{% endif %}
    </div>
    </div>
    </div>
{% endblock %}