{% extends 'base.html.twig' %}

{% block title %}
{{ 'title.category_view'|trans({'%id%': category.id|default('') }) }}
{% endblock %}

{% block body %}
<h1>{{ 'title.category_view'|trans({ '%id%': category.title|default('')}) }} </h1>
    <div class="container">
    <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
{% if category is defined and category|length %}
    <dl>
        <dt>{{ 'label.title'|trans }}</dt>
        <dd>{{ category.title }}</dd>
        <dt>{{ 'label.actions'|trans }}</dt>
        <dd>
            <a class="btn btn-primary"  href="{{ url('category_index') }}" role="button">
                {{ 'action_back_to_list'|trans }}
            </a>
        </dd>
    </dl>
{% else %}
<p>{{ 'message.empty_list'|trans }}</p>
{% endif %}
    </div>
    </div>
    </div>
{% endblock %}