{% extends 'base.html.twig' %}

{#{% block stylesheets %}#}
{#    <link#}
{#            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"#}
{#            rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"#}
{#            crossorigin="anonymous">#}
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">#}
{#<link rel="stylesheet" href="{{ asset('css/nav.css') }}">#}
{#{% endblock %}#}
{% block title %}
    {{ 'title.book_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.book_list'|trans }}</h1>


    {% if pagination is defined and pagination.items|length %}


{#        <div class="navigation text-center"></div>#}
{#        <table class="table table-striped">#}
{#            <thead>#}
{#            <tr>#}
{#                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'book.id') }}</th>#}
{#                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'book.title') }}</th>#}
{#                <th>{{ knp_pagination_sortable(pagination, 'label.author'|trans, 'book.author') }}</th>#}
{#                <th>{{ 'title.category_list'|trans }}</th>#}
{#                <th>{{ 'label.actions'|trans }}</th>#}
{#                <th>{{ 'label.tagi'|trans }}</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
        <div class="mine-flex">

            {% for book in pagination.items %}
{#                <div class="card-group">#}
{#                    <div class="card">#}
{#                        <img class="card-img-top" src="..." alt="Card image cap">#}
{#                        <div class="card-body">#}
{#                            <h5 class="card-title">Card title</h5>#}
{#                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
{#                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="card">#}
{#                        <img class="card-img-top" src="..." alt="Card image cap">#}
{#                        <div class="card-body">#}
{#                            <h5 class="card-title">Card title</h5>#}
{#                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>#}
{#                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="card">#}
{#                        <img class="card-img-top" src="..." alt="Card image cap">#}
{#                        <div class="card-body">#}
{#                            <h5 class="card-title">{{ book.title }}</h5>#}
{#                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>#}
{#                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}




{#                <div class="row">#}
{#                    <div class="col-sm-2">#}
                <div class="card bg-light mb-3" style="width: 22rem">
                    <div class="card-header card-subtitle mb-2 text-muted"> {{ 'label.author'|trans }}: {{ book.author }}</div>
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">Primary card title</h5>#}
{#                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="card"#}
{#                     style="width: 18rem;">#}
                    <div class="card-body">
                        <h5 class="card-title">{{ 'label.title'|trans }}: {{ book.title }}</h5>
{#                        <h6 class="card-subtitle mb-2 text-muted">{{ book.author }}</h6>#}
                        <p class="card-text ">
{#                            Some quick example text to build on the card title and make up the bulk of the card's#}
                            {% if book.tags is defined and book.tags|length %}
                                {% for tag in book.tags %}
                                    <a href="{{ url('book_index', {'filters.tag.id' : tag.id}) }}" title="{{ tag.title }}">
                                    {{ 'label.tags'|trans }}: {{ tag.title }}
                                    </a>
                                {% endfor %}
{#                            {% else %}#}
{#                                &nbsp;#}
                            {% endif %}
                        </p>
{#                        <div class="card-footer">#}
{#                            <small class="text-muted">Last updated 3 mins ago</small>#}
{#                        <div class="card-footer bg-transparent border-light">#}
                        <a href="{{ url('book_show', {id: book.id}) }}" title="{{ 'action.show'|trans }}" class="btn btn-outline-secondary">
                            {{ 'action.show'|trans }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('book_edit', {id: book.id}) }}" title="{{ 'action.edit'|trans }}" class="btn btn-outline-warning">
                            {{ 'action.edit'|trans }}
                        </a>
                            <a href="{{ url('book_delete', {id: book.id}) }}" title="{{ 'action.delete'|trans }}" class="btn btn-outline-danger">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
{#                        <p>#}
{#                            {% if is_granted('ROLE_ADMIN') %}#}
{#                                <a href="{{ url('book_edit', {id: book.id}) }}" title="{{ 'action.edit'|trans }}">#}
{#                                    {{ 'action.edit'|trans }}#}
{#                                </a>#}
{#                            {% endif %}#}
{#                        </p>#}
{#                        </div>#}
{#                        </div>#}
{#                        <a href="#" class="card-link">Another link</a>#}
                    </div>
                </div>
{#                </div>#}
{#                </div>#}
{#                </div>#}
{#            </div>#}


{#                <tr>#}
{#                    <td>{{ book.id }}</td>#}
{#                    <td>{{ book.title }}</td>#}
{#                    <td>{{ book.author }}</td>#}
{#                    <td>#}
{#                        <a href="{{ url('category_show', {id : book.category.id}) }}" title="{{ book.category.title }}">#}
{#                            {{ book.category.title }}#}
{#                        </a>#}
{#                    </td>#}
{#                    <td>#}
{#                        <a href="{{ url('book_show', {id: book.id}) }}" title="{{ 'action.show'|trans }}">#}
{#                            {{ 'action.show'|trans }}#}
{#                        </a>#}
{#                        {% if is_granted('ROLE_ADMIN') %}#}
{#                        <a href="{{ url('book_create') }}" title="{{ 'action.create'|trans }}">#}
{#                            {{ 'action.create'|trans }}#}
{#                        </a>#}
{#                        {% endif %}#}
{#                        {% if is_granted('ROLE_ADMIN') %}#}
{#                        <a href="{{ url('book_edit', {id: book.id}) }}" title="{{ 'action.edit'|trans }}">#}
{#                            {{ 'action.edit'|trans }}#}
{#                        </a>#}
{#                        {% endif %}#}
{#                        {% if is_granted('ROLE_ADMIN') %}#}
{#                        <a href="{{ url('book_delete', {id: book.id}) }}" title="{{ 'action.delete'|trans }}">#}
{#                            {{ 'action.delete'|trans }}#}
{#                        </a>#}
{#                        {% endif %}#}

{#                    </td>#}
{#                    <td>#}
{#                        {% if book.tags is defined and book.tags|length %}#}
{#                            {% for tag in book.tags %}#}
{#                                <a href="{{ url('book_index', {'filters.tag.id' : tag.id}) }}" title="{{ tag.title }}">#}
{#                                    {{ tag.title }}#}
{#                                </a>#}
{#                                {% endfor %}#}
{#                        {% else %}#}
{#                            &nbsp;#}
{#                            {% endif %}#}
{#                    </td>#}
{#                </tr>#}
            {% endfor %}
        </div>
{#            </tbody>#}
{#        </table>#}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% else %}
        {{ 'message.empty_list'|trans }}

    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-info " href="{{ url('tag_create') }}" role="button" title="{{ 'action.create'|trans }} ">
            {{ 'action.create'|trans }}
        </a>
    {% endif %}

{% endblock %}
