{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.book_view'|trans({'%id%': book.id|default('') }) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.book_view'|trans({'%id%': book.title|default('') }) }}</h1>
    {% if book is defined and book|length %}
        <dl>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{ book.title }}</dd>
            <dt>{{ 'label.author'|trans }}</dt>
            <dd>{{ book.author }}</dd>
            <dt>{{ 'title.category_list'|trans }}</dt>
            <dd>{{ book.category.title }}</dd>
            <dt>{{ 'label.comments' }}</dt>
            <dd>
                {% for comments in book.comments %}
{#                    <dt>{{ 'label_author'|trans }}</dt>#}
                    {% if comments.author.userData.nick is defined and comments.author.userData.nick is not null %}
                    <p>{{ comments.author.userData.nick }}</p>
                    {% endif %}
{#                    </dl>#}
                    <p>{{ comments.content }}</p>
                    {% if is_granted('DELETE', comments)  %}
                    <a href="{{ url('comment_delete', {id: comments.id}) }}" title="{{ 'action.delete'|trans }}">
                        {{ 'action.delete'|trans }}
                    </a>
                    {% endif %}

                {% endfor %}
            </dd>
            <dt>{{ 'label.actions'|trans }}</dt>
            <dd>
                <a href="{{ url('book_index') }}" title="{{ 'action_back_to_list'|trans }}">
                    {{ 'action_back_to_list'|trans }}
                </a>
            </dd>
{#            <dt>{{ 'label_author'|trans }}</dt>#}
{#            {% for comments in book.comments %}#}
{#                {% for user in comments.author %}#}
{#                <dd>{{ comments.author.email }}</dd>#}
{#                    <dd>{{ user.userData.nick }}<dl>#}
{#                    {% endfor %}#}
{#            <dd>{{ user.email }}</dd>#}
{#            {% endfor %}#}
        </dl>

        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group row float-sm_right">
            <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary">

        </div>
        {{ form_end(form) }}
        {% endif %}


    {% else %}
        <p>{{ 'message.empty_list'|trans }}</p>
    {% endif %}
{% endblock %}