{% extends 'base.html.twig' %}


{% block title %}
    {{ 'title.tag_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tag_list'|trans }}</h1>

    <div class="container">
    <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
    {% if pagination is defined and pagination.items|length %}

    <div class="navigation text-center"></div>
    <table class="table table-striped">
    <thead>
    <tr>
        <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'tag.id') }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'tag.createdAt') }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'tag.updatedAt') }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'tag.title') }}</th>
        <th>{{ 'label.actions'|trans }}</th>
    </tr>
    </thead>

    <tbody>
    {% for tag in pagination.items %}
    <tr>
        <td>{{ tag.id }}</td>
        <td>{{ tag.createdAt|format_date('long') }}</td>
        <td>{{ tag.updatedAt|format_date('long') }}</td>
        <td>{{ tag.title }}</td>

        <td>
            <a href="{{ url('tag_show', {id: tag.id}) }}" title="{{ 'action.show'|trans }}">
                <span class="material-symbols-outlined">search</span>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('tag_edit', {id: tag.id}) }}" title="{{ 'action.edit'|trans }}">
                <span class="material-symbols-outlined">app_registration</span>
            </a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('tag_delete', {id: tag.id}) }}" title="{{ 'action.delete'|trans }}">
                <span class="material-symbols-outlined">delete</span>
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-info " href="{{ url('tag_create') }}" role="button" title="{{ 'action.create'|trans }} ">
                {{ 'action.create'|trans }}
            </a>
        {% endif %}
    {% endif %}
    </div>
    </div>
    </div>

{% endblock %}