{% extends 'base.html.twig' %}

{% block title %}
{{ 'title.user_list'|trans }}
{% endblock %}

{% block body %}
<h1>{{ 'title.user_list'|trans }}</h1>

    <div class="container">
    <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center"></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'user.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.email'|trans, 'user.email') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>

            {% for user in pagination.items %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ url('user_show', {id: user.id}) }}" role="button" title="{{ 'action.show'|trans }} ">
                            {{ 'action.show'|trans }}
                        </a>
{#                        <a href="{{ url('user_show', {id: user.id}) }}" title="{{ 'action.show'|trans }}">#}
{#                            {{ 'action.show'|trans }}#}
{#                        </a>#}
                        <a class="btn btn-info" href="{{ url('change_password', {id: user.id}) }}" role="button" title="{{ 'action.change_password'|trans }}">
                            {{ 'action.change_password'|trans }}
                        </a>
                        <a class="btn btn-info" href="{{ url('user_data_edit', {id: user.userData.id}) }}" role="button" title="{{ 'action.change_user_data'|trans }}">
                            {{ 'action.change_user_data'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
    </div>
    </div>
    </div>
{% endblock %}