{% extends 'base.html.twig' %}

{% block title %}
{{ 'title.user_view'|trans({'%id%': user.id|default('') }) }}
{% endblock %}

{% block body %}
<h1>{{ 'title.user_view'|trans({'%id%': user.userData.nick|default('') }) }}</h1>
    <div class="container">
    <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
{% if user is defined and user|length %}
    {#<table class="table table-striped">#}
    <div class="mine-flex">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ asset('images/avatarr.jpg') }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> {{ 'label.nick'|trans }}: {{ user.userData.nick }}</h5>
            <p class="card-text">{{ 'label.email'|trans }}: {{ user.email }}</p>
            <a class="btn btn-primary" href="{{ url('user_data_edit', {id: user.userData.id}) }}" title="{{ 'action.change_user_data'|trans }}">
                {{ 'action.change_user_data'|trans }}
            </a>
            <p class="mine-btn">
                <a class="btn btn-primary" href="{{ url('change_password', {id: user.id}) }}" title="{{ 'action.change_password'|trans }}">
                    {{ 'action.change_password'|trans }}
                </a>
            </p>
        </div>
    </div>
    </div>




{#    <dl>#}
{#        <dt>{{ 'label.id'|trans }}</dt>#}
{#        <dd>{{ user.id }}</dd>#}
{#        <dt>{{ 'label.email'|trans }}</dt>#}
{#        <dd>{{ user.email }}</dd>#}
{#        <dt>{{ 'label.nick'|trans }}</dt>#}
{#        <dd>{{ user.userData.nick }}</dd>#}
{#        <dt>{{ 'label.actions'|trans }}</dt>#}

{#        <dd>#}
    {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-info" href="{{ url('user_index') }}" role="button" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        {% else %}
            <a class="btn btn-info" href="{{ url('category_create') }}" role="button" title="{{ 'action_back_to_list'|trans }} ">
                {{ 'action_back_to_list'|trans }}
            </a>
            {% endif %}
{#            <a href="{{ url('user_data_edit', {id: user.userData.id}) }}" title="{{ 'action.change_user_data'|trans }}">#}
{#                {{ 'action.change_user_data'|trans }}#}
{#            </a>#}
{#        </dd>#}
{#    </dl>#}
{% endif %}
    </div>
    </div>
    </div>
{% endblock %}